<% content_for :header do %>
  <%= index_header "Schedule an Appointment" %>
<% end %>

<div class="new-appointment">
  <%= render partial: "form", 
    locals: { 
        holds: @holds, 
        loans: @loans, 
        can_schedule_appointment: @holds.any? || @loans.any?
    } 
  %>
</div>