<div class="columns app-body">
  <div class="column col-8 col-sm-12 col-mx-auto">
    <p>Please read the borrowing policies below. When you're done, click the button to go to the next step.</p>

    <h5>Membership Cost</h5>

    <p>Your membership grants your organization access to tool borrowing for one year. Memberships do not auto-renew.</p>

    <p>Annual membership costs are:</p>

    <ul>
      <li>$150 for mutual aid groups, community gardens, block clubs, community leaders, schools, or groups with budgets under $15k/year.</li>
      <li>$300 for nonprofits, government agencies, faith-based organizations, or groups with budgets over $15k/year.</li>
      <li>$500 for small businesses, contractors, chambers of commerce, and other for-profit entities.</li>
    </ul>

    <h5>Fees</h5>

    <ul>
      <li>You may be charged $25 for failing to show up for tool pick-up or drop-off appointments.</li>
      <li>You may be charged $25 for changing an appointment time with less than 24 hours notice.</li>
      <li>You may be charged a replacement fee for tools that have been lost or damaged.</li>
    </ul>

    <p>
      <%= link_to "Continue", signup_organization_profile_path, class: "btn btn-primary btn-block btn-lg" %>
    </p>
  </div>
</div>
