<%= content_for :header do %>
  <%= index_header "Exports" %>
<% end %>

<h2>Download data in CSV format</h2>

<ul>
  <li>
    <%= link_to "Items", items_admin_settings_exports_path, method: :post, class: "btn btn-lg", data: {turbo: false} %>
  </li>
  <li>
    <%= link_to "Members and memberships", members_admin_settings_exports_path, method: :post, class: "btn btn-lg", data: {turbo: false} %>
  </li>
</ul>

<div class="columns">
  <div class="column col-6">
  </div>
</div>
