<%= content_for :header do %>
  <%= index_header "Item Export" %>
<% end %>

<h2>Export all items to CSV</h2>

<%= link_to "Download CSV", admin_settings_exports_path, method: :post, class: "btn btn-lg", data: {turbolinks: false} %>

<div class="columns">
  <div class="column col-6">
  </div>
</div>
