#
# This file tells direnv, if both it and Nix are installed, to automatically
# load the Nix dependencies defined in flake.nix.
#
# For details on the Nix development setup, see NIX.md.
#
## shellcheck shell=bash
if has nix; then
  watch_file .ruby-version
  use flake
fi
