<% if member.active_membership && member.address_verified %>
  <div class="columns member-lookup-items">
    <div class="column col-12">
      <h2 id="checkout" class="h4">Lend or Hold Item</h2>
      <% if member.loan_summaries.overdue.count > 0 %>
        <div class="toast">
          <p>
            <i class="icon icon-stop"></i>
              Overdue items must be returned before additional items can be checked out or on hold.
            </p>
        </div>
      <% else %>
        <%= portal do %>
          <%= render partial: "admin/lookups/form" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
