<div class="columns member-lookup-items">
  <div class="column col-12">
    <h2 id="checkout" class="h4">Lend or Hold Item</h2>
    <%= render partial: "admin/members/lookups/form" %>
  </div>
</div>
