<% @hold_requests.each do |hold_request| %>
  <div class="hold-request">
    <p class="member"><%= hold_request.member.preferred_name %></p>
    <ul>
    <% hold_request.items.each do |item| %>
      <li><%= item.complete_number %></li>
    <% end %>
    </ul>
  <div>
<% end %>
