<div class="columns app-body">
  <div class="column col-8 col-sm-12 col-mx-auto">
    <p>We are reviewing your application. Please keep an eye on your email and we will contact you soon!</p>
  </div>
</div>
