<%= render "profile" do %>

  <div class="item-description">
    <%= @item.description %>
  </div>

  <% if @item.checkout_notice.present? %>
    <div class="info-box">
      <p>
        <strong>Checkout Notice:</strong><br>
        <%= @item.checkout_notice %>
      </p>
    </div>
  <% end %>

<% end %>