<% if @appointment.errors.any? %>
  <ul class="error">
    <% @appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for :appointment, url: admin_appointment_path, method: :put do |form| %>

  <div class="form-group" data-controller="appointment-date">
    <label class="form-label" for="time_range_string">Select an appointment time</label>
    <%= select("appointment", "time_range_string", grouped_options_for_select(@appointment_slots, @appointment.time_range_string), {include_blank: "Select a Date"},
          class: "form-select", data: {action: "appointment-date#sync", "appointment-data-target": "select"}) %>
      <span data-appointment-date-target="display"></span>
  </div>

  <div>
    <%= form.submit "Edit Appointment", class: "btn btn-primary" %>
  </div>

<% end %>
