<% content_for :header do %>
  <%= index_header "Editing Reservable Item" %>
<% end %>

<%= render "form", reservable_item: @reservable_item %>

<div class="destroy-area">
  <details>
    <summary>Destroy this reservable item?</summary>
    <%= action_bar "If you destroy this reservable item, it can not be recovered.", icon: "alert-octagon", type: :warning do %>
      <%= button_to "Destroy Reservable Item", [:admin, @reservable_item], method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-sm" %>
    <% end %>
  </details>
</div>
