<h1>Editing reservable item</h1>

<%= render "form", reservable_item: @reservable_item %>

<br>

<div>
  <%= link_to "Show this reservable item", @reservable_item %> |
  <%= link_to "Back to reservable items", admin_reservable_items_path %>
</div>
