<h1>Reservable items</h1>

<div id="reservable_items">
  <% @reservable_items.each do |reservable_item| %>
    <%= render reservable_item %>
    <p>
      <%= link_to "Show this reservable item", admin_reservable_item_path(reservable_item) %>
    </p>
  <% end %>
</div>

<%= link_to "New reservable item", new_admin_reservable_item_path, class: "btn" %>
