<% content_for :header do %>
  <%= index_header "Reservable Items" do %>
    <%= link_to "New Reservable Item", new_admin_reservable_item_path, class: "btn" %>
  <% end %>
<% end %>

<div id="reservable_items">
  <% @reservable_items.each do |reservable_item| %>
    <%= render reservable_item %>
    <p>
      <%= link_to "Edit", edit_admin_reservable_item_path(reservable_item), class: "btn" %>
    </p>
  <% end %>
</div>
