<div class="warning">
  <p><strong>
    We are open <em>by appointment only</em> in response to COVID-19. <a href="https://chicagotoollibrary.org/covid-19">Please check our COVID-19 page for more information.</a>
  </strong></p>
</div>
