<p>Thank you for signing up as a member of The Chicago Tool Library. We are excited to have you!</p>
<% if @amount %>
  <p><strong>Your payment of <%= @amount.format %> has been processed and applied to your account.</strong></p>
<% end %>
<p>To activate your membership, please bring the following with you to the library the first time you visit:</p>
<ul>
  <li><strong>Proof of your address</strong><br>This needs to include your name and current address in Chicago. Utility bills, leases, and other official mail work well for this.</li>
  <li><strong>A photo ID</strong></br>This needs to show your name and a photo and can be from the state, your job, school, etc.</li>
</ul>
<p>We're located in Bridgeport at:<br>
  1048 W. 37th Street Suite 102<br>
  Chicago, IL 60609</p>
<p>
  We are open (<strong>starting on August 4th</strong>):<br>
  Thursdays, 3pm-7pm<br>
  Saturdays &amp; Sundays, 10am-3pm
</p>