<div class="columns">
  <div class="column col-8 col-sm-12 col-mx-auto">
    <div class="instructions">
      <p class="main">Signup Complete</p>
      <div class="divider"></div>
    </div>
    <div class="activation-instructions">
      <%= render partial: "instructions" %>
    </div>
    <p>If you have any questions, please email us at <a href="mailto:team@chicagotoollibrary.org">team@chicagotoollibrary.org</a>.</p>
    <p>See you at the library!</p>
  </div>
</div>