<div class="columns">
  <div class="column col-8 col-sm-12 col-mx-auto">
     <div class="instructions">
      <p class="main">Please verify that the information below is corrrect.</p>
      <p class="sub">When you have made any necessary changes, click <em>Save and Continue</em> to go on to the next step.</p>
      <div class="divider"></div>
    </div>
    <%= form_with(model: @member, url: renewal_member_url, builder: SpectreFormBuilder) do |form| %>
      <%= render "admin/members/fields", form: form %>

      <%= form.actions do %>
        <%= form.submit "Save and Continue" %>
      <% end %>
    <% end %>
  </div>
</div>
