<%= render "profile" do %>
  <div class="item-pool-details">
    <dl>
      <dt>Description</dt>
      <dd><%= @item_pool.description || "-" %></dd>
      <dt>Other names and keywords</dt>
      <dd><%= @item_pool.other_names || "-" %></dd>
      <dt>Purchase URL</dt>
      <dd><%= @item_pool.purchase_link || "-" %></dd>
    </dl>
  </div>
<% end %>
