<% content_for :header do %>
  <%= index_header "Editing Reservation" %>
<% end %>

<%= render "form", reservation: @reservation %>

<div class="destroy-area">
  <details>
    <summary>destroy this reservation?</summary>
    <%= action_bar "if you destroy this reservation, it can not be recovered.", icon: "alert-octagon", type: :warning do %>
      <%= button_to "destroy reservation", [:admin, @reservation], method: :delete, data: {turbo_confirm: "are you sure?"}, class: "btn btn-sm" %>
    <% end %>
  </details>
</div>
