<%= render "profile" do %>
  <table class="table">
    <thead>
      <th>Item</th>
      <th>Quantity</th>
      <th></th>
    </thead>
    <tbody>
      <% @reservation.reservation_holds.each do |reservation_hold| %>
        <%= render partial: "admin/reservations/reservation_holds/reservation_hold", locals: {reservation: @reservation, reservation_hold: reservation_hold} %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <%= link_to "Add Item", admin_reservation_item_pool_search_path(@reservation), class: "btn" %>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>
