.admin-appointments {

	table {
		td, th {
      vertical-align: top;
			&.time { width: 15%; }
			&.member { width: 20%; }
			&.items { width: 30%; }
			&.notes { width: 30%; }
		}

		&.pending-appointments {
			margin-bottom: 2rem;
		}
	}

	tr.completed {
		background-color: $background-color-dark;
		td {
			opacity: 0.7;
		}
	}

	tr.pending  {
		td.member a {
			font-weight: bold;
		}
	}

	a.view-appointment {
		display: inline-block;
	}
}
.appointments-date-nav {
	flex-basis: auto!important;
}
.appointments-date {
	flex-basis: 1!important;
}