.member-nav {
  .off-canvas-toggle {
    top: 25px;
    left: 87%;
  }
  .mobile-nav {
    background-color: $primary-color;
    height: 85px;
    width: 100%;
    img {
      padding: 5px;
      margin-left: 10px;
      width: 90px;
    }
  }
  .off-canvas-sidebar {
    background-color: $background-color;
    .sidebar-list {
      & > * {
        // 
        &:nth-child(2) {
          border-top: solid $dark-color 2px;
          margin-top: 3px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .nav-category {
        padding-top: 10px;
        .icon-people {
          color: $dark-color;
        }
      }
      .search-box {
        padding-bottom: 10px;
      }
      font-size: 18px;
      padding: 5px;
      img {
        padding-top: 0px !important;
        width: 80px;
        margin-left: 12px;
      }
      .icon-search {
        color: $dark-color;
        margin-right: 5px;
        font-size: 20px;
        margin-top: 4px;
      }
      .logout-link {
        a {
          color: $primary-color;
        }
      }
    }
  }
}