<strong>Did the Tool Library help you accomplish a project?</strong> Make a small donation to keep us going!
You can 
<a href="https://chicagotoollibrary.app.neoncrm.com/forms/18">donate by credit card, Apple Pay, or ACH</a>, and we also have 
<a href="https://www.venmo.com/u/ChiToolLibrary">Venmo</a> and 
<a href="https://www.paypal.com/donate/?hosted_button_id=7X45CFLZMKBLY">PayPal</a> accounts if that's more your speed.
