<p>You have requested the following items be held for pickup on <strong><%= hold_date(hold_request.event) %></strong>.</p>
<ul>
<% hold_request.items.each do |item| %>
  <li>
    <strong><%= full_item_number(item) %> - <%= item.name %></strong>
  </li>
<% end %>
</ul>
<p>Please keep an eye on your email, as we may need to contact you about your reservation.</p>