<p><strong>Don't forget to activate your membership so you can start borrowing tools.</strong> More details on what to bring when you come in are at the bottom of this message.</p>
<p>If you'd like to check for a specific item before coming in, you can <a href="https://app.chicagotoollibrary.org/items?sort=added">view our tool inventory online</a>. We're adding new tools to our collection all the time!</p>
<p>If you have any questions, please email us at <a href="mailto:team@chicagotoollibrary.org">team@chicagotoollibrary.org</a>.</p>
<p>See you at the library!</p>