<p><strong>Don't forget to activate your membership so you can start borrowing tools.</strong> You can also <a href="http://chicagotoollibrary.org/member-login">login to your account</a> to update your contact information, browse our tool inventory, and request your first tool pick-up!</p>
<p>If you have any questions, please email us at <a href="mailto:<%= @library.email %>"><%= @library.email %></a>.</p>
<p>See you at the library!</p>
