<ul>
<% summaries.each do |summary| %>
  <li>
    <strong><%= full_item_number(summary.item) %> - <%= summary.item.name %></strong>
    <% if summary.ended? %>
      returned
    <% else %>
      <% if summary.overdue_as_of?(now) %>
        <span class="overdue">
          was due
          <%= checked_out_date(summary.due_at) %>
          and is now overdue!
        </span>
      <% else %> 
        <% if summary.renewed? %>
          renewed until
        <% else %>
          due
        <% end %>
        <%= checked_out_date(summary.due_at) %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<% if has_overdue_items %>
  <p class="overdue"><strong>Please return all overdue items as soon as possible so other members can check them out.</strong></p>
<% end %>