<%# This page is shown when the currently logged in user has the item on hold. #%>

<div class="actions">
  <% if hold.upcoming_appointment %>
    <%= link_to "View Your Appointments", account_appointments_path, class: "btn" %>
  <% elsif !hold.upcoming_appointment && hold.ready_for_pickup? && @current_library.allow_appointments? %>
    <%= link_to "Schedule an Appointment", new_account_appointment_path, class: "btn btn-primary" %>
  <% end %>
  <%= render_remove_link(hold) %>
</div>
