<% if hold.upcoming_appointment %>
  <p>You are scheduled to pick this item up on <%= appointment_date_and_time hold.upcoming_appointment %>.</p>
<% else %>
  <p><em>Current status: <%= render_hold_status(hold) %>.</em></p>
  <% if hold.ready_for_pickup? %>
    <% if @current_library.allow_appointments? %>
      <p>
        <%= link_to "Schedule an appointment", new_account_appointment_path %> to choose when to pick it up.
      </p>
    <% end %>
  <% end %>
<% end %>

<div class="actions">
  <%= render_remove_link(hold) %>
</div>
