<div class="columns">
  <div class="column col-8 col-sm-12 col-mx-auto">

    <p>It’s time to renew your membership!</p>
    <p>In order to continue borrowing tools and enjoying the benefits of the Chicago Tool Library you’ll need to renew for another year of membership.</p>

    <div class="callout-box">
      <h5>Renewal Steps</h5>
      <ul>
        <li>Read and agree to our updated terms.</li>
        <li>Update your address and contact information if necessary.</li>
        <li>Pay your annual membership fee.</li>
      </ul>
    </div>

    <p>Click below to start the renewal process! It only takes a few minutes to complete.</p>

    <p>
      <%= link_to "Renew Online", renewal_rules_url, class: "btn btn-primary btn-block btn-lg" %>
    </p>
  </div>
</div>