---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: metadata[circulate_id]=25
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Idempotency-Key:
      - b4586ddd-70d8-42d8-b7f7-daefa9bada62
      Stripe-Version:
      - 2025-07-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b4586ddd-70d8-42d8-b7f7-daefa9bada62
      Original-Request:
      - req_qx5bUyCRkqAg5F
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-07-30.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_U4N7YsOE2tKLa1",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1772388354,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "XKDOZUVK",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "circulate_id": "25"
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 01 Mar 2026 18:05:54 GMT
recorded_with: VCR 6.4.0
