---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/does+not+exist/detach
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Idempotency-Key:
      - d5702f8f-02e8-4934-861e-61ca9bc97482
      Stripe-Version:
      - 2025-07-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d5702f8f-02e8-4934-861e-61ca9bc97482
      Original-Request:
      - req_bJaVbfCwSbzH5Z
      Stripe-Version:
      - 2025-07-30.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such PaymentMethod: 'does not exist'",
            "param": "payment_method",
            "request_log_url": "https://dashboard.stripe.com/acct_1T6DoHPnUSFzhT0d/test/workbench/logs?object=req_bJaVbfCwSbzH5Z",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 01 Mar 2026 18:27:17 GMT
recorded_with: VCR 6.4.0
