---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1T6Ea8PnUSFzhT0d7yCb8feV/detach
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Idempotency-Key:
      - 4ed6a5f5-1be4-456a-96dc-a5e5cab3440d
      Stripe-Version:
      - 2025-07-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4ed6a5f5-1be4-456a-96dc-a5e5cab3440d
      Original-Request:
      - req_VihViKy5saHYPR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-07-30.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1T6Ea8PnUSFzhT0d7yCb8feV",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": "60612",
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": "pass",
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "D78TFXGvWpkLdP3B",
            "funding": "credit",
            "generated_from": null,
            "last4": "1111",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1772389148,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 01 Mar 2026 18:25:02 GMT
recorded_with: VCR 6.4.0
