---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: customer=2d63fce41cd3470ba66a&payment_method_types[0]=card
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Idempotency-Key:
      - 15d400af-6269-4a5a-9d68-bb8c8752295b
      Stripe-Version:
      - 2025-07-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 15d400af-6269-4a5a-9d68-bb8c8752295b
      Original-Request:
      - req_9qNt3Bw4CMnZ7P
      Stripe-Version:
      - 2025-07-30.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: '2d63fce41cd3470ba66a'",
            "param": "customer",
            "request_log_url": "https://dashboard.stripe.com/acct_1T6DoHPnUSFzhT0d/test/workbench/logs?object=req_9qNt3Bw4CMnZ7P",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 01 Mar 2026 18:22:06 GMT
recorded_with: VCR 6.4.0
