---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_U4N7YsOE2tKLa1&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Stripe-Version:
      - 2025-07-30.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-07-30.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "pm_1T6Ea8PnUSFzhT0d7yCb8feV",
              "object": "payment_method",
              "allow_redisplay": "unspecified",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": "US",
                  "line1": null,
                  "line2": null,
                  "postal_code": "60612",
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null,
                "tax_id": null
              },
              "card": {
                "brand": "visa",
                "checks": {
                  "address_line1_check": null,
                  "address_postal_code_check": "pass",
                  "cvc_check": "pass"
                },
                "country": "US",
                "display_brand": "visa",
                "exp_month": 6,
                "exp_year": 2028,
                "fingerprint": "D78TFXGvWpkLdP3B",
                "funding": "credit",
                "generated_from": null,
                "last4": "1111",
                "networks": {
                  "available": [
                    "visa"
                  ],
                  "preferred": null
                },
                "regulated_status": "unregulated",
                "three_d_secure_usage": {
                  "supported": true
                },
                "wallet": null
              },
              "created": 1772389148,
              "customer": "cus_U4NKMxlVHVQRt9",
              "customer_account": null,
              "livemode": false,
              "metadata": {},
              "type": "card"
            }
          ],
          "has_more": false,
          "url": "/v1/payment_methods"
        }
  recorded_at: Sun, 01 Mar 2026 18:17:41 GMT
recorded_with: VCR 6.4.0
