<div data-controller="modal" data-action="keydown@window->modal#hide">
  <div class="modal" data-target="modal.modal">
    <a href="#close" class="modal-overlay" aria-label="Close" data-action="modal#hide"></a>
    <div class="modal-container">
      <div class="modal-header">
        <a href="#close" class="btn btn-clear btn-lg float-right" aria-label="Close" data-action="modal#hide"></a>
        <div class="modal-title h5"><%= title %></div>
      </div>
      <div class="modal-body">
        <div class="content" data-action="click->modal#newWindow">
          <%= sanitize(body, tags: %w(a br), attributes: %w(href)) %>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
  <%= yield %>
</div>