<%= form_with url: items_path, method: :get, class: "mr-2 search-box", local: true do |form| %>
  <div class="has-icon-left">
    <%= hidden_field_tag :category, @filter_params[:category] if @filter_params&.[](:category) %>
    <%= form.search_field :query, class: "form-input input-sm", value: params[:query], placeholder: "search items", id: local_assigns[:id] %>
    <%= hidden_field_tag :sort, @filter_params[:sort] if @filter_params&.[](:sort) %>
    <i class="form-icon icon icon-search"></i>
  </div>
<% end %>
