<p>Welcome to Circulate.</p>

<h1><%= link_to "Items", items_path %></h1>
<h1><%= link_to "Categories", categories_path %></h1>
<h1><%= link_to "Members", members_path %></h1>
<h1><%= link_to "Loans", loans_path %></h1>