<div class="columns landing-options">
  <div class="column col-sm-12 col-md-3 col-4 col-ml-auto text-center">
    <%= link_to "View our inventory", items_path %>
  </div>
  <% unless current_user %>
    <div class="column col-sm-12 col-md-3 col-4 col-mr-auto text-center">
      <%= link_to "Log in to your account", new_user_session_path %>
    </div>
    <div class="column col-sm-12 col-4 text-center">
      <%= link_to "Become a member", signup_path %>
    </div>
  <% end %>
</div>
