<h1>Editing Gift Membership</h1>

<%= render 'form', gift_membership: @gift_membership %>

<div class="destroy-button">
  <%= link_to "Destroy Gift Membership", [:admin, @gift_membership], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-error btn-block btn-sm" %>
</div
