<p>
  <strong>Purchaser email:</strong>
  <%= @gift_membership.purchaser_email %>
</p>

<p>
  <strong>Purchaser name:</strong>
  <%= @gift_membership.purchaser_name %>
</p>

<p>
  <strong>Amount cents:</strong>
  <%= @gift_membership.amount.format %>
</p>

<p>
  <strong>Code:</strong>
  <%= @gift_membership.code %>
</p>