<% content_for :header do %>
  <%= breadcrumbs "Reservation Policies", admin_reservation_policies_path %>
  <%= index_header "New Reservation policy" %>
<% end %>

<h1>New Reservation Policy</h1>

<%= render "form", reservation_policy: @reservation_policy %>
