<p style="color: green"><%= notice %></p>

<h1>Organizations</h1>

<div id="organizations">
  <% @organizations.each do |organization| %>
    <%= render organization %>
    <p>
      <%= link_to "Show this organization", [:admin, organization] %>
    </p>
  <% end %>
</div>

<%= link_to "New organization", new_admin_organization_path %>
