<%= content_for :header do %>
  <%= index_header "New Organization" %>
<% end %>

<%= render "form", organization: @organization %>

<br>

<div>
  <%= link_to "Back to organizations", admin_organizations_path %>
</div>
