.account,
.account-home-index,
.account-holds-index,
.appointment-form {
  .rule-list {
    @media all and (min-width: 841px) {      
      margin-left: 2rem;
    }
    ul {
      list-style: outside;
    }
  }

  .loan-summary, .hold-summary {
    font-size: 1rem;
    margin-top: .5rem;
  }

  .loan-list, .hold-list {
    margin: 0;
    li {
      list-style: none outside;
      margin-bottom: 1.5rem;
      border-bottom: solid 2px $gray-color-light;
      padding-bottom: 1rem;
      &:last-of-type {
        border: none;
      }
    }
    .image {
      float: right;
      width: 8rem;
      height: 100%;
      padding-right: .8rem;
      img {
        height: 100%;
        max-width: 100%;
      }
    }
    .item {
      font-size: .9rem;
    }
    .status {
      display: block;
    }
    .pickup {
      display: block;
    }
    .actions {
      margin-top: .8rem;
      form {
        margin-top: 0.5rem;
      }
      .message {
        margin-right: .5rem;
      }
    }
    @media all and (max-width: 840px) {
      .image {
        width: 25%;
      }
      .actions {
        width: 100%;
      }
    }
  }
}


.account-appointments-index {
  .appointment-list {
    margin: 0;
  }
  .appointment {
    margin-top: 1rem;
    list-style: none outside;
    h2 {
      line-height: 1.2rem;
    }
    .schedule {
      display: flex;
      justify-content: space-between;
      .time {
        font-size: 1rem;
        color: $gray-color;
      }
      .actions {
        text-align: right;
        form {
          display: inline-block;
        }
      }
    }
  }
}
