// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #2F7890;
$error-color: #DF6C54;

@import 'spectre.css/src/spectre';
@import 'spectre.css/src/spectre-icons';
@import 'spectre.css/src/spectre-exp';
@import 'trix/dist/trix.css';

form details {
  summary {
    margin-bottom: 0.3rem;
  }

  label.form-label {
    display: none;
  }
}

.container {
  padding-bottom: 3rem;
}

header.navbar {
  margin-bottom: 1rem;
}

.toast {
  margin-bottom: 1rem;
}

.off-canvas .off-canvas-content {
  padding-left: 3rem;
  height: 3rem;
}