button[type=submit] {
  width: 75px;
  height: 47px;
  background: #42768D;
  border-radius: 4px;
  border: none;
  font-family: Proxima Nova;
  font-size: 16px;
  color: white;
}

.form-group {
  .form-select,
  textarea,
  input[type="text"],
  input[type="email"] {
    border: 1px solid rgba(64, 55, 49, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    font-family: Proxima Nova;
    font-size: 16px;
    color: rgba(64, 55, 49, 0.75);
    font-weight: lighter;
    resize: none;
  }
}

.input-height {
  height: 49px;
}

label {
  font-family: Proxima Nova;
  font-size: 12px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  color: rgba(64, 55, 49, 0.75);
  padding-top: 16px !important;
  padding-bottom: 8px !important;
}

.background-white {
  background-color: white;
}

.homepage-navbar-logo {
  width: 32px;
  height: 32px;
  margin-left: 32px;
}

.homepage-mobile-navbar-logo {
  width: 32px;
  height: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.homepage-navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0 !important;
  background-color: #42768D;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navlink-section {
  padding-right: 23px;
  .navlink {
    padding-right: 15px;
    font-family: Proxima Nova;
    font-size: 16px;
    color: white;
    letter-spacing: -0.6px;
    font-weight: bold;
    color: white;
  }
}

.menu-button {
  margin-left: 16px;
  background-color: #42768D;
}

.dropdown-menu {
  min-width: 610px !important;
  margin-top: 13px;
}

.homepage-nav-header {
  font-family: Proxima Nova;
  font-size: 24px;
  color: white;
  letter-spacing: -0.6px;
  font-weight: lighter;
  margin-bottom: 0;
}

.container {
  padding-bottom: 0 !important;
}

.main-container {
  margin-top: 128px;
}

.header-text {
  font-family: Proxima Nova;
  font-size: 48px;
  letter-spacing: -0.6px;
  font-weight: lighter;
}

.header-nav-text {
  font-family: Proxima Nova;
  color: white;
  font-size: 16px;
  letter-spacing: -0.6px;
}

.sub-header-text {
  font-family: Proxima Nova;
  font-size: 36px;
  letter-spacing: -0.6px;
  font-weight: lighter;
}

.body-text {
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: lighter;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.primary-button {
  font-family: Proxima Nova;
  color: white;
  width: 126px;
  height: 48px;
  background: #42768D;
  border-radius: 4px;
  border: none;
}

.background-cream {
  background: #F8F6F2;
}

.background-blue {
  background-color: #42768D;
}

.white {
  color: white !important;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.video-wrap {
  width: 100%;
  max-width: 600px;
}

.mb-lg {
  margin-bottom: 32px;
}

.mb-xl {
  margin-bottom: 64px;
}

.mt-md {
  margin-top: 16px;
}

.pb-lg {
  padding-bottom: 32px;
}

.pb-xl {
  padding-bottom: 64px;
}

.pr-1 {
  padding-right: 4px;
}

.pr-3 {
  padding-right: 16px;
}

.pr-4 {
  padding-right: 32px;
}

.pl-1 {
  padding-left: 4px;
}

.pl-3 {
  padding-left: 16px;
}

.pl-4 {
  padding-left: 32px;
}

.pt-xl {
  padding-top: 64px;
}

// FIX MARGIN/PADDING CLASS NAMES
