button[type=submit] {
  width: 75px;
  height: 47px;
  background: #42768D;
  border-radius: 4px;
  border: none;
  font-family: Proxima Nova;
  font-size: 16px;
  color: white;
}

label {
  font-family: Proxima Nova;
  font-size: 12px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  color: rgba(64, 55, 49, 0.75);
  padding-top: 16px !important;
  padding-bottom: 8px !important;
}

.form-group {
  .form-select,
  textarea,
  input[type="text"],
  input[type="email"] {
    border: 1px solid rgba(64, 55, 49, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    font-family: Proxima Nova;
    font-size: 16px;
    color: rgba(64, 55, 49, 0.75);
    font-weight: lighter;
    resize: none;
  }
}

.background-white {
  background-color: white;
}

.input-height {
  height: 49px;
}

.homepage-navbar-logo {
  width: 32px;
  height: 32px;
  margin-left: 32px;
}

.homepage-mobile-navbar-logo {
  width: 32px;
  height: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.homepage-navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0 !important;
  background-color: #42768D;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navlink-section {
  padding-right: 23px;
  .navlink {
    padding-right: 15px;
    font-family: Proxima Nova;
    font-size: 16px;
    color: white;
    letter-spacing: -0.6px;
    font-weight: bold;
    color: white;
  }
}

.menu-button {
  margin-left: 16px;
  background-color: #42768D;
}

.dropdown-menu {
  min-height: 1000px;
  min-width: 610px !important;
  margin-top: 12px;
}

.homepage-nav-header {
  font-family: Proxima Nova;
  font-size: 24px;
  color: white;
  letter-spacing: -0.6px;
  font-weight: lighter;
  margin-bottom: 0;
}

.main-container {
  @media only screen and (max-width: 840px) {
    margin-top: 96px;
  }
  @media only screen and (min-width: 841px) {
    margin-top: 128px;
  }
}

.header-text {
  font-family: Proxima Nova;
  letter-spacing: -0.6px;
  font-weight: lighter;
  @media only screen and (max-width: 840px) {
    font-size: 28px;
  }
  @media only screen and (min-width: 841px) {
    font-size: 48px;
  }
}

.header-nav-text {
  font-family: Proxima Nova;
  color: white;
  font-size: 16px;
  letter-spacing: -0.6px;
  font-weight: bold;
}

.text-md-center {
  @media only screen and (max-width: 840px) {
    text-align: center;
  }
}

.sub-header-text {
  font-family: Proxima Nova;
  letter-spacing: -0.6px;
  @media only screen and (max-width: 840px) {
    font-size: 16px;
    font-weight: bold;
  }
  @media only screen and (min-width: 841px) {
    font-size: 36px;
    font-weight: lighter;
  }
}

.body-text {
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: lighter;
}

.full-width {
  width: 100%;
  max-width: none;
}

.half-width {
  width: 50%;
}

.primary-button {
  font-family: Proxima Nova;
  color: white;
  width: 126px;
  height: 48px;
  background: #42768D;
  border-radius: 4px;
  border: none;
}

.background-cream {
  background: #F8F6F2;
}

.background-blue {
  background-color: #42768D;
}

.white {
  color: white !important;
}

.bold {
  font-weight: bold;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.video-wrap {
  width: 100%;
}

.left-item-padding {
  @media only screen and (max-width: 840px) {
    padding-left: none;
  }
  @media only screen and (min-width: 841px) {
    padding-left: 32px;
  }
}

.right-item-padding {
  @media only screen and (max-width: 840px) {
    padding-right: none;
  }
  @media only screen and (min-width: 841px) {
    padding-right: 32px;
  }
}

.mobile-full-width {
  @media only screen and (max-width: 600px) {
    width: 100% !important;
  }
}

.mobile-width {
  @media only screen and (max-width: 840px) {
    width: 50%;
    margin: auto;
  }
  @media only screen and (min-width: 841px) {
    width: 100%;
  }
}

.mobile-pb-4 {
  @media only screen and (max-width: 840px) {
    padding-bottom: 32px;
  }
}

.mobile-pb-5 {
  @media only screen and (max-width: 840px) {
    padding-bottom: 32px;
  }
  @media only screen and (min-width: 841px) {
    padding-bottom: 64px;
  }
}

.mobile-py {
  @media only screen and (max-width: 840px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media only screen and (min-width: 841px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.mobile-pb-3-4 {
  @media only screen and (max-width: 840px) {
    padding-bottom: 16px;
  }
  @media only screen and (min-width: 841px) {
    padding-bottom: 32px;
  }
}

.mb-none-important {
  padding-bottom: 0 !important;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 64px;
}

.mt-3 {
  margin-top: 16px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pb-5 {
  padding-bottom: 64px;
}

.pr-1 {
  padding-right: 4px;
}

.pr-3 {
  padding-right: 16px;
}

.pl-1 {
  padding-left: 4px;
}

.pl-3 {
  padding-left: 16px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}