.background-white {
  background-color: white;
}

.homepage-navbar-logo {
  width: 32px;
  height: 32px;
  margin-left: 32px;
  img {
    width: 100%;

  }
}

.homepage-navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0 !important;
  background-color: #42768D;
  position: fixed;
  width: 100%;
}

.navlink-section {
  padding-right: 23px;
  .navlink {
    padding-right: 15px;
    color: white;
  }
}

.main-container {
  margin-top: 64px;
}
