@import 'globals';

@import 'spectre.css/src/mixins/_shadow';

.selectize-input {
  box-shadow: none;
  border: 0.05rem solid #cec3bc;
  border-radius: 0.1rem;
  &.focus {
    box-shadow: none;
    @include control-shadow($primary-color);
    border-color: $primary-color;
  }
}

.selectize-dropdown {
  border: 0.05rem solid #cec3bc;
}

.selectize-control.multi .selectize-input [data-value] {
  background-image: none;
  background-repeat: no-repeat;
  background-color: $secondary-color;
  text-shadow: none;
  box-shadow: none;
  filter: none;
}

.selectize-control.multi .selectize-input [data-value].active {
  background-image: none;
  background-repeat: no-repeat;
  background-color: darken($secondary-color, 10%);
  filter: none;
}

.selectize-control.multi .selectize-input > div.active,
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-color: darken($secondary-color, 20%);
}

.selectize-control.multi .selectize-input > div,
.selectize-control.plugin-remove_button [data-value] .remove {
  border-color: darken($secondary-color, 10%);
}


.selectize-dropdown [data-selectable].option {
  color: $gray-color-dark;
}
.selectize-dropdown [data-selectable].option.active {
  background: $secondary-color-light;
}
.selectize-dropdown [data-selectable].option:hover {
  cursor: pointer;
  color: $dark-color;
}

trix-editor {
  background: white;
  border: 0.05rem solid #cec3bc;
  border-radius: 0.1rem;
  color: #51433b;
  &:focus {
    @include control-shadow($primary-color);
    border-color: $primary-color;
  }
}
trix-toolbar {
  .trix-button-group {
    border: 0.05rem solid #cec3bc;
    border-radius: 0.1rem;
  }
  .trix-button {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 0;
  }
  .trix-button:not(:disabled) {
    background: white;
  }
  .trix-button-group {
  }
}

.step .step-item a::before {
  border-color: $background-color;
}

.form-checkbox,
.form-radio,
.form-switch {
  input {
    &:focus + .form-icon {
      @include control-shadow();
      border-color: $secondary-color;
    }
    &:checked + .form-icon {
      background: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

.divider[data-content]::after, .divider-vert[data-content]::after {
  background: $background-color;
}

// Fix issue where the tag input is being drawn above the name autocomplete
.form-group .awesomplete > ul {
  z-index: 10;
}

.off-canvas {
  background: $dark-color;

  .off-canvas-content {
    height: 2.6rem;
    padding-left: 3rem;
  }

  .off-canvas-toggle {
    @include default-button();
    .icon {
      color: $dark-color;
    }
  }
}