@import 'globals';

@import 'spectre.css/src/mixins/_shadow';

.selectize-input {
  box-shadow: none;
  border: 0.05rem solid #cec3bc;
  border-radius: 0.1rem;
  &.focus {
    box-shadow: none;
    @include control-shadow($primary-color);
    border-color: $primary-color;
  }
}

.selectize-dropdown {
  border: 0.05rem solid #cec3bc;
}

.selectize-control.multi .selectize-input [data-value] {
  background-image: none;
  background-repeat: no-repeat;
  background-color: $secondary-color;
  text-shadow: none;
  box-shadow: none;
  filter: none;
}

.selectize-control.multi .selectize-input [data-value].active {
  background-image: none;
  background-repeat: no-repeat;
  background-color: darken($secondary-color, 10%);
  filter: none;
}

.selectize-control.multi .selectize-input > div.active,
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-color: darken($secondary-color, 20%);
}

.selectize-control.multi .selectize-input > div,
.selectize-control.plugin-remove_button [data-value] .remove {
  border-color: darken($secondary-color, 10%);
}


.selectize-dropdown [data-selectable].option {
  color: $gray-color-dark;
}
.selectize-dropdown [data-selectable].option.active {
  background: $secondary-color-light;
}
.selectize-dropdown [data-selectable].option:hover {
  cursor: pointer;
  color: $dark-color;
}

trix-editor {
  background: white;
  border: 0.05rem solid #cec3bc;
  border-radius: 0.1rem;
  color: #51433b;
  &:focus {
    @include control-shadow($primary-color);
    border-color: $primary-color;
  }
}
trix-toolbar {
  .trix-button-group {
    border: 0.05rem solid #cec3bc;
    border-radius: 0.1rem;
  }
  .trix-button {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 0;
  }
  .trix-button:not(:disabled) {
    background: white;
  }
  .trix-button-group {
  }
}

.step .step-item a::before {
  border-color: $background-color;
}

.form-checkbox,
.form-radio,
.form-switch {
  input {
    &:focus + .form-icon {
      @include control-shadow();
      border-color: $secondary-color;
    }
    &:checked + .form-icon {
      background: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

.divider[data-content]::after, .divider-vert[data-content]::after {
  background: $background-color;
}

// Fix issue where the tag input is being drawn above the name autocomplete
.form-group .awesomplete > ul {
  z-index: 10;
}

.off-canvas {
  height: auto;
  .off-canvas-content {
    height: 3.5rem;
    padding-left: 3rem;
  }

  .off-canvas-toggle {
    @include default-button();
    margin-top: 0.5rem;
    .icon {
      color: $dark-color;
    }
  }
}


// Improve contrast on labels
.label {
  &, &.label-success, &.label-warning, &.label-error, &.label-primary, &.label-secondary {
    color: inherit;
  }
  background-color: lighten($gray-color-light, 1%);

  &.label-primary { background-color: lighten($primary-color, 40%); }
  &.label-secondary { background-color: $secondary-color-light; }
  &.label-success { background-color: lighten($success-color, 20%); }
  &.label-warning { background-color: lighten($warning-color, 20%); }
  &.label-error { background-color: lighten($error-color, 20%); }
}

.toast {
  color: inherit;
  background-color: lighten($gray-color-light, 1%);

  &.toast-primary { background-color: lighten($primary-color, 30%); }
  &.toast-secondary { background-color: $secondary-color-light; }
  &.toast-success { background-color: lighten($success-color, 20%); }
  &.toast-warning { background-color: lighten($warning-color, 20%); }
  &.toast-error { background-color: lighten($error-color, 20%); }

  a {
    text-decoration: none;
  }
}

.dropdown {
  .dropdown-toggle {
    color: white;
    &:focus {
      background: $secondary-color;
      color: white;
      outline-color: $secondary-color-light;
      @include control-shadow($secondary-color);
    }
  }
  .menu .menu-item > a {
    color: $dark-color;
    &:hover {
      background: $secondary-color-light;
    }
  }
}

.empty {
  background: rgba(255,255,255,.5);
  margin: 1rem 0;
}

@media all and (max-width: 840px)  {
  h1, .h1 {
    font-size: 1.6rem;
  }
  h2, .h2 {
    font-size: 1.3rem;
  }
  h3, .h3 {
    font-size: 1rem;
  }

  .header-header {
    margin-bottom: .5rem;
    h1 {
      margin-bottom: .5rem;
    }
    .btn-lg {
      font-size: 0.8rem;
      height: 1.8rem;
      padding: 0.25rem 0.4rem;
    }
  }
}

@media all and (max-width: 400px)  {
  h1, .h1 {
    font-size: 1.3rem;
  }
  h2, .h2 {
    font-size: 1rem;
  }
  h3, .h3 {
    font-size: .8rem;
  }
}

.checkbox-lg {
  .form-icon {
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
  }
  &.form-checkbox {
    padding-left: 1.8rem;
  }
  &.form-checkbox input:checked + .form-icon::before {
    border: 0.2rem solid white;
    border-left-width: 0;
    border-top-width: 0;
    height: 18px;
    margin-left: -5px;
    margin-top: -11px;
    width: 10px;
  }
}

.mt-5 {
  margin-top: 2rem;
}

.timeline .timeline-item.timeline-skip {
  margin-bottom: 2rem;
  &:before {
    display: none;
  }
}