<div class="columns">
  <div class="column col-12">
    <h1>Search</h1>
    <p>
      Showing search results for
      <strong><%= params[:query] %></strong>.
    </p>

    <% if @items_by_number.any? %>
      <%= render partial: "items_table", locals: { items: @items_by_number } %>
    <% end %>

    <% if @items.any? %>
      <%= render partial: "items_table", locals: { items: @items } %>
    <% else %>
      <p>No matching items found.</p> 
    <% end %>

  </div>
</div>