<% if FeatureFlags.for_later_lists_enabled? %>
  <span id="for_later_list_item_show">
    <% if for_later_list_item.present? %>
      <%= button_to "Don't need it", account_for_later_list_item_path(for_later_list_item),
            method: :delete, class: "btn" %>
    <% else %>
      <%= button_to "Save for later", account_for_later_list_items_path,
            method: :post, class: "btn", params: {for_later_list_item: {item_id: item.id}} %>
    <% end %>
  </span>
<% end %>
