<% if FeatureFlags.wish_lists_enabled? %>
  <span id="wish_list_item_show">
    <% if wish_list_item.present? %>
      <%= button_to "Don't need it", account_wish_list_item_path(wish_list_item),
            method: :delete, class: "btn" %>
    <% else %>
      <%= button_to "Save for later", account_wish_list_items_path,
            method: :post, class: "btn", params: {wish_list_item: {item_id: item.id}} %>
    <% end %>
  </span>
<% end %>
