<h1>
  Please write<br>
  <strong><%= @item.number %></strong><br>
  on the item.
</h1>

<p>
  Try to use a contrasting color to maximize visibility.
</p>

<p>
  <%= link_to "Add Another Item", new_item_path %>
  or
  <%= link_to "View all Items", items_path %>
</p>

