.item-holds-table {
  tbody tr {
    .drag-handle {
      cursor: grab;
      width: 36px;
    }
    &.notified {
      background: $gray-color-light;
      .drag-handle {
        cursor: default;
      }
    }
    .drag-handle .feather-icon {
      transform: rotate(90deg);
    }
  }
  tr.sorting {
    background: white;
    cursor: grabbing;
  }
  tr.ghost {
    background: $secondary-color-light;
  }
}
