.admin-appointments {
  div.card.completed {
    background-color: $background-color-dark;
    opacity: 0.7;
  }

  .table-header > .column {
    font-weight: bold;
  }

  .card-footer {
    button {
      margin-left: 0.5em;
    }

    display: flex;
    justify-content: flex-end;
  }

  table {
    td,
    th {
      vertical-align: top;
      &.time {
        width: 10%;
      }
      &.member {
        width: 15%;
      }
      &.items {
        width: 25%;
      }
      &.notes {
        width: 25%;
      }
    }

    &.pending-appointments {
      margin-bottom: 2rem;
    }
  }

  tr.completed {
    background-color: $background-color-dark;
    td {
      opacity: 0.7;
    }
  }

  tr.pending {
    td.member a {
      font-weight: bold;
    }
  }

  span.label {
    margin-right: 0.25rem;
    margin-bottom: 0.125rem;
  }

  a.view-appointment {
    display: inline-block;
  }
}

p.appointment-comment {
  margin-bottom: 0.8em;
}

.appointments-date-nav {
  flex-basis: auto !important;
}
.appointments-date {
  flex-basis: 1 !important;
}
.checkout-button-column,
.checkout-button-group {
  display: flex;
  flex-direction: column;
}
.checkout-button-column {
  justify-content: space-between;
}

.admin-appointments-orig {
  table {
    td,
    th {
      vertical-align: top;
      &.time {
        width: 15%;
      }
      &.member {
        width: 20%;
      }
      &.items {
        width: 30%;
      }
      &.notes {
        width: 30%;
      }
    }

    &.pending-appointments {
      margin-bottom: 2rem;
    }
  }

  tr.completed {
    background-color: $background-color-dark;
    td {
      opacity: 0.7;
    }
  }

  tr.pending {
    td.member a {
      font-weight: bold;
    }
  }

  span.label {
    margin-right: 0.25rem;
    margin-bottom: 0.125rem;
  }

  a.view-appointment {
    display: inline-block;
  }
}
