.admin-appointments {
  div.card.completed {
    background-color: $background-color-dark;
    opacity: 0.7;
  }

  .table-header > .column {
    font-weight: bold;
  }
}
.appointments-date-nav {
  flex-basis: auto !important;
}
.appointments-date {
  flex-basis: 1 !important;
}
.checkout-button-column,
.checkout-button-group {
  display: flex;
  flex-direction: column;
}
.checkout-button-column {
  justify-content: space-between;
}
