@use "../spectre-css/variables";

.appointments-page {
  .appointment {
    margin-top: 50px;
    h2 {
      font-size: 24px;
    }
    section {
      margin-top: 20px;
    }
    .gray-dark {
      color: variables.$gray-color-dark;
    }
    .appointment-date {
      display: flex;
      align-items: start;
      h2:first-child {
        margin-right: 10px;
      }
    }
    .appointment-wrapper {
      padding-left: 30px;
    }
  }
}
