@use '../spectre-css/_variables';

.password-visibility {
  position: relative;

  input {
    padding-inline-end: 2.5rem;
  }
}

.password-visibility-toggle {
  appearance: none;
  background: transparent;
  border: none;
  color: variables.$gray-color-dark;
  cursor: pointer;
  height: auto;
  line-height: 1;
  padding: 0.2rem;
  position: absolute;
  right: 0.2rem;
  top: 0;
  transform: translateY(-50%);

  &:hover,
  &:focus {
    color: variables.$dark-color;
  }

  .feather-icon {
    stroke: currentColor;
  }
}
