.users-sign-in {
  max-width: 500px;
  .new_user {
    margin-top: 20px;
  }
  .actions {
    margin-top: 50px;
  }
  .field.text {
    input {
      width: 100%;
    }
  }
  .btn {
    width: 50%;
  }

  .callout-box {
    margin-top: 2rem;
    padding-top: 0.5rem;
  }
}
