.users-password-new {
  max-width: 400px;
  margin-top: 150px;
  .new_user {
    margin-top: 20px;
  }
  .field.text {
    input {
      width: 100%;
    }
  }
  .actions {
    margin-top: 50px;
  }
  .btn {
    width: 50%;
  }
}
