<% unless current_user.confirmed? %>
  <div class="toast toast-warning">
    <p>
      <strong>Your email address has not been verified.</strong>
      To borrow tools, please confirm your email address by clicking the link in the confirmation email you received.
      If you didn't receive an email or can't find it then you can request another one.
    </p>
    <%= link_to "Resend Confirmation Email", new_user_confirmation_path, class: "btn btn-lg btn-default" %>
  </div>
<% end %>
