@use "variables";

// Tabs
.tab {
  align-items: center;
  border-bottom: variables.$border-width solid variables.$border-color;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: variables.$unit-1 0 (variables.$unit-1 - variables.$border-width) 0;

  .tab-item {
    margin-top: 0;

    a {
      border-bottom: variables.$border-width-lg solid transparent;
      color: inherit;
      display: block;
      margin: 0 variables.$unit-2 0 0;
      padding: variables.$unit-2 variables.$unit-1 variables.$unit-2 - variables.$border-width-lg variables.$unit-1;
      text-decoration: none;
      &:focus,
      &:hover {
        color: variables.$link-color;
      }
    }
    &.active a,
    a.active {
      border-bottom-color: variables.$primary-color;
      color: variables.$link-color;
    }

    &.tab-action {
      flex: 1 0 auto;
      text-align: right;
    }

    .btn-clear {
      margin-top: -(variables.$unit-1);
    }
  }

  &.tab-block {
    .tab-item {
      flex: 1 0 0;
      text-align: center;

      a {
        margin: 0;
      }

      .badge {
        &[data-badge]::after {
          position: absolute;
          right: variables.$unit-h;
          top: variables.$unit-h;
          transform: translate(0, 0);
        }
      }
    }
  }

  &:not(.tab-block) {
    .badge {
      padding-right: 0;
    }
  }
}
