@use "variables";

// Timelines
.timeline {
  .timeline-item {
    display: flex;
    margin-bottom: variables.$unit-6;
    position: relative;
    &::before {
      background: variables.$border-color;
      content: "";
      height: 100%;
      left: 11px;
      position: absolute;
      top: variables.$unit-6;
      width: 2px;
    }

    .timeline-left {
      flex: 0 0 auto;
    }

    .timeline-content {
      flex: 1 1 auto;
      padding: 2px 0 2px variables.$layout-spacing-lg;
    }

    .timeline-icon {
      align-items: center;
      border-radius: 50%;
      color: variables.$light-color;
      display: flex;
      height: variables.$unit-6;
      justify-content: center;
      text-align: center;
      width: variables.$unit-6;
      &::before {
        border: variables.$border-width-lg solid variables.$primary-color;
        border-radius: 50%;
        content: "";
        display: block;
        height: variables.$unit-2;
        left: variables.$unit-2;
        position: absolute;
        top: variables.$unit-2;
        width: variables.$unit-2;
      }

      &.icon-lg {
        background: variables.$primary-color;
        line-height: variables.$line-height;
        &::before {
          content: none;
        }
      }
    }
  }
}
