@use 'spectre-css/variables';

body.admin {
  .off-canvas {
    height: auto;
  }

  table .table-stripe {
    background: rgba(255, 255, 255, 0.7);
  }

  .admin-search-form {
    margin-top: 0.6rem;
  }

  .off-canvas-sidebar .nav-item {
    margin-top: 0.2rem;
  }

  .off-canvas-title {
    line-height: 3rem;
  }

  .off-canvas {
    .off-canvas-content {
      background: variables.$dark-color;
    }
  }

  .app-header {
    background: variables.$primary-color;
    color: white;
    padding-top: 1rem;
    margin-bottom: 1rem;
    header.navbar {
      margin-bottom: 0;
    }
    .container {
      padding-bottom: 0;
    }
    ul.breadcrumb {
      margin: -0.3rem 0 0 0;
      padding: 0;
      a {
        color: white;
      }
      .breadcrumb-item {
        padding-right: 0.2rem;
      }
      .breadcrumb-item:not(:first-child)::before,
      .breadcrumb-item {
        color: white;
      }
      .breadcrumb-item:last-child::after {
        padding-left: 0.2rem;
        content: '›';
      }
    }
  }

  .app-banner {
    color: white;
    padding-top: 0.5rem;
    background: variables.$error-color;
    p {
      margin-bottom: 0.7rem;
      margin-top: 0;
    }
    a {
      color: white;
      font-weight: bolder;
      text-decoration: underline;
    }
    .container {
      padding-bottom: 0;
    }
  }

  .reservation-review {
    padding: 1rem 0;
  }
}

.admin-dashboard {
  .pair {
    width: 19%;
    display: inline-block;
  }

  dd {
    font-size: 3rem;
    line-height: 1;
    font-weight: 300;
    margin-top: 0;
  }
}

.member-notes {
  .note {
    position: relative;
    .edit-button {
      position: absolute;
      bottom: 0.4rem;
      right: 0.4rem;
    }
  }
}

.shift-schedule {
  td {
    vertical-align: top;
  }
}

.member-tabs {
  margin-bottom: 1rem;
}

.ticket-edit-button {
  padding-left: 1rem;
  padding-top: 0.3rem;
}

ul.simple-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.of-accessories {
    font-size: 14px;
    padding-bottom: 4px;

    li {
      align-items: center;
      display: flex;
      justify-content: end;
      gap: 0.75ch;
    }
  }
}
