.public {
  position: relative;

  header.navbar {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .off-canvas .off-canvas-toggle {
    right: 0.8rem;
    left: unset;
  }
  .off-canvas .off-canvas-sidebar {
    left: unset;
    right: 0;
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
    }
  }

  .off-canvas .off-canvas-content {
    padding-left: 0;
    padding-right: 3rem;
  }

  @media all and (max-width: 600px) {
    .app-body {
      margin-top: 0.5rem;
    }
  }

  .navbar {
    align-items: center;
    .navbar-brand {
      width: 3rem;
      img {
        width: 100%;
      }
    }
    .navbar-section {
      flex: 1 auto;
    }
  }
}

.container.public {
  flex: 1 0 auto;
}

.accessibility-links a {
  position: absolute;
  left: 0;
  top: -3.2rem;
  transition: top 1s ease-out;
  padding: 1rem;
  background: white;
  font-size: 1.2;
  z-index: 1000;

  &:focus {
    top: 0;
    transition: 0.1s ease-in;
  }
}

.items-show {
  .item-panel {
    padding-top: 0.5rem;
  }
}
