<% content_for :header do %>
  <%= index_header "Appointments" %>
<% end %>

<h1 class="new_title">Schedule an Appointment</h1>

<%= render partial: "form", locals: { holds: @holds, loans: @loans } %>
