<div class="columns">
  <div class="column col-8 col-sm-12 col-mx-auto">
    <h1>Become a Member</h1>

    <%= @borrow_policy.body %>

    <%= link_to "Signup online", new_signup_member_url, class: "btn btn-primary btn-block btn-lg" %>
  </div>
</div>