<div class="columns">
  <div class="column col-8 col-sm-12 col-mx-auto">
    <div class="rich-text">
      <%= @borrow_policy.body %>
    </div>

    <p>
      <%= link_to "Signup online", new_signup_member_url, class: "btn btn-primary btn-block btn-lg" %>
    </p>
  </div>
</div>