<div class="columns app-body">
  <div class="column col-8 col-sm-12 col-mx-auto">

    <p>Hello! We are excited to have you join The <%= current_library.name %>. We are a lot like your local public library, except instead of lending out books, we offer tools such as drills, saws, sewing machines, crock pots, and microphones.</p>
    <p>This website will guide you through the process of becoming a member. Before we get started, though, it is important to make sure that you fulfill a few basic requirements:</p>

    <div class="callout-box">
      <h5>Membership Requirements</h5>
      <ul>
        <li>You must be at least 18 years of age.</li>
        <li>You must reside in the City of <%= current_library.city %> and provide proof of address.</li>
        <li>You must provide a form of photo identification.</li>
      </ul>
    </div>

    <p>If you fulfill the above requirements, click below to start the signup process! It only takes a few minutes to complete.</p>

    <p>
      <%= link_to "Sign Up as an Individual", signup_rules_url, class: "btn btn-primary btn-block btn-lg" %>
    </p>

    <div class="callout-box gift-membership">
      <h5>Need to borrow tools for your organization?</h5>
      <p>
        We offer memberships for groups like nonprofits, block clubs, schools, and more!
      </p>
      <p class="mr-2">
        <%= link_to "Sign Up as an Organization", @org_signup_url, class: "btn btn-secondary btn-block btn-lg" %>
      </p>
    </div>
  </div>
</div>
