<h1>Account Summary</h1>

<p><%= @member.email %></p>

<%= render "member_mailer/summaries.erb", has_overdue_items: @has_overdue_items, summaries: @summaries, now: Time.current %>

<% if @member.loan_summaries.renewable.any? %>
  <%= link_to renewal_request_path(params[:id]), class: "btn btn-lg btn-block" do %>
    <%= feather_icon "repeat" %>Renew Items
  <% end %>
<% end %>