<div class="columns">
  <div class="column col-8 col-sm-12 col-mx-auto">
     <div class="instructions">
      <p class="main">We've sent an email with the title <strong>Confirm your organization account</strong> to <%= @email_address %>.</p>
      <p class="sub">Please click the link inside this email to continue setting up your organization's account.</p>
    </div>
  </div>
</div>
