<%= content_for :header do %>
  <h1>Application Styles</h1>
<% end %>

<div class="style-guide">

  <div class="colors">
    <div class="columns">
      <div class="column col-2 primary">Primary</div>
      <div class="column col-2 secondary">Secondary</div>
    </div>
    <div class="columns">
      <div class="column col-2 success">Success</div>
      <div class="column col-2 warning">Warning</div>
      <div class="column col-2 error">Error</div>
    </div>
    <div class="columns">
      <div class="column col-2 dark">Dark</div>
      <div class="column col-2 gray-dark">Gray dark</div>
      <div class="column col-2 gray">Gray</div>
      <div class="column col-2 gray-light">Gray light</div>
      <div class="column col-2 light">Light</div>
    </div>
  </div>

</div>