<div class="columns">
  <div class="column col-12">
    <h1>Volunteer Shifts</h1>
    <div class="instructions mt-2">
      <p class="main">Click <em>Sign up</em> on a shift you'd like to cover.</p>
      <p class="sub">
        We try to have at least 2 people at each shift.
      </p>
    </div>
    <% if signed_in_via_google? %>
      <p>
        Signed in as <strong><%= @attendee.email %></strong> &ndash;
        <%= link_to "Sign out", volunteer_session_path, method: :delete %>
      </p>
      <ul>
        <li>Shifts you are signed up for are <span class="bg-primary p-1">shown with a blue background</span>.
        <li><strong class="text-primary">Bold shifts</strong> need at least one more person to be sufficiently staffed.</li>
        <li>If you can no longer attend a shift you signed up for, please cancel the signup on this site or 
      decline the invitation in your calendar.</li>
      </ul>
    <% end %>
  </div>
</div>

<% @month_calendars.each do |month_calendar| %>
  <div class="columns">
    <div class="column col-12 col-md-10 col-sm-12">
      <div class="shift-schedule">
        <%= render partial: "month_calendar", locals: { month_calendar: month_calendar, attendee: @attendee } %>
      </div>
    </div>
  </div>
<% end %>

<% unless signed_in_via_google? %>
  <p class="text-center mt-2">
    <%= link_to "Sign in with Google", "/auth/google_oauth2", method: :post %>
  </p>
<% end %>