  <footer class="page-footer">
    <div class="text-center">
      <p>For questions and issues, please email <a href="mailto:team@chicagotoollibrary.org">team@chicagotoollibrary.org</a>.</p>
    </div>
  </footer>